{% extends "base.html" %}

{% block title %}
    <title>Lunge Technique</title>
{% endblock %}

{% block content %}
    <div class="container mx-auto p-6">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div class="rounded-lg overflow-hidden shadow-lg">
                <video muted autoplay loop class="w-full h-auto">
                    <source src="../static/images/lunges/lunge-front.mp4" type="video/mp4">
                </video>
            </div>
            <div class="rounded-lg overflow-hidden shadow-lg">
                <video muted autoplay loop class="w-full h-auto">
                    <source src="../static/images/lunges/lunge-side.mp4" type="video/mp4">
                </video>
            </div>
        </div>
        <div class="mt-8">
            <a href="https://musclewiki.com/"><h2 class="text-2xl font-semibold mb-4">Lunge Technique:</h2></a>
            <ul class="list-disc pl-4">
                <li class="mb-2">Stand tall with feet hip-width apart.</li>
                <li class="mb-2">Take a big step forward with one leg, lowering your hips until both knees are bent at about a 90-degree angle.</li>
                <li class="mb-2">Make sure your front knee is directly above your ankle and your other knee doesn’t touch the floor.</li>
                <li class="mb-2">Push back up to the starting position, engaging your core throughout the movement.</li>
            </ul>
        </div>
        <div class="mt-8">
            <p class="text-lg font-semibold">Position the device so that you can be seen in full height. The app will track repetitions and check execution technique.</p>
        </div>
        <div class="mt-8 text-center">
            <p class="text-lg font-semibold">Recommended to perform 20 repetitions</p>
            <a href="{{url_for('lunge')}}" class="bg-blue-600 text-white px-4 py-2 rounded-lg mt-4 inline-block">Start</a>
        </div>
    </div>
{% endblock %}
