{% extends "base.html" %}

{% block title %}
    <title>Plank Technique</title>
{% endblock %}

{% block content %}
    <div class="container mx-auto p-6">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div class="rounded-lg overflow-hidden shadow-lg">
                <video muted autoplay loop class="w-full h-auto">
                    <source src="../static/images/plank/plank-front.mp4" type="video/mp4">
                </video>
            </div>
            <div class="rounded-lg overflow-hidden shadow-lg">
                <video muted autoplay loop class="w-full h-auto">
                    <source src="../static/images/plank/plank-side.mp4" type="video/mp4">
                </video>
            </div>
        </div>
        <div class="mt-8">
            <a href="https://musclewiki.com/"><h2 class="text-2xl font-semibold mb-4">Plank Technique:</h2></a>
            <ul class="list-disc pl-4">
                <li class="mb-2">Start in a push-up position but with your weight on your forearms instead of your hands.</li>
                <li class="mb-2">Keep your body in a straight line from head to heels.</li>
                <li class="mb-2">Engage your core and glutes to maintain the position.</li>
                <li class="mb-2">Hold the position without letting your hips drop or rise.</li>
            </ul>
        </div>
        <div class="mt-8">
            <p class="text-lg font-semibold">Position the device so that you can be seen in full height. The app will track time and check execution technique.</p>
        </div>
        <div class="mt-8 text-center">
            <p class="text-lg font-semibold">Recommended to hold the plank for 60 seconds</p>
            <a href="{{url_for('plank')}}" class="bg-blue-600 text-white px-4 py-2 rounded-lg mt-4 inline-block">Start</a>
        </div>
    </div>
{% endblock %}
