<!-- Extend from a base template called "base.html" -->
{% extends "base.html" %}

<!-- Block to set the title of the page, which will be used in the <title> tag of the HTML head section -->
{% block title %}<title>Rating</title>{% endblock %}

<!-- Block to define the main content of the page -->
{% block content %}
    <div class="bg-white rounded-lg shadow-md p-6 mx-auto mt-8 sm:ml-8 sm:mr-8">
        <!-- Navigation buttons for switching between exercise rankings -->
        <div class="flex justify-between mb-4">
            <button id="prev-button" class="bg-custom_light_blue text-gray-700 px-4 py-2 rounded">Previous</button>
            <span id="exercise-title" class="text-lg font-semibold">Push-ups</span>
            <button id="next-button" class="bg-custom_light_blue text-gray-700 px-4 py-2 rounded">Next</button>
        </div>
        <!-- Container for the exercise rankings -->
        <div id="rankings-container">
            <!-- Dynamically generated exercise ranking lists will be inserted here -->
        </div>
    </div>

    <script>
        // JavaScript to handle switching between exercise rankings
        const rankingsContainer = document.getElementById('rankings-container');
        const exerciseTitle = document.getElementById('exercise-title');
        const prevButton = document.getElementById('prev-button');
        const nextButton = document.getElementById('next-button');

        // Array of exercises
        const exercises = [
            {id: 'push-ups', name: 'Push-ups', counter: 'push_up_counter'},
            {id: 'squat', name: 'Squats', counter: 'squat_counter'},
            {id: 'bicep-curl', name: 'Bicep Curls', counter: 'curl_counter'},
            {id: 'crunches', name: 'Crunches', counter: 'crunch_counter'},
            {id: 'lunges', name: 'Lunges', counter: 'lunge_counter'},
            {id: 'v-up-crunches', name: 'V-up Crunches', counter: 'v_up_crunch_counter'},
            {id: 'lateral-raises', name: 'Lateral Raises', counter: 'lateral_raise_counter'},
            {id: 'forward-bend', name: 'Forward Bend', counter: 'forward_bend_counter'},
            {id: 'plank', name: 'Plank', counter: 'plank_counter'}
        ];

        const users = JSON.parse('{{ users | tojson | safe }}');
        let currentExerciseIndex = 0;

        function sortUsersByExercise(exerciseCounter) {
            return users.slice().sort((a, b) => b[exerciseCounter] - a[exerciseCounter]);
        }

        function createRankingList(exercise) {
            const list = document.createElement('ul');
            list.id = `${exercise.id}-ranking`;
            list.className = 'exercise-ranking hidden';
            const sortedUsers = sortUsersByExercise(exercise.counter);

            sortedUsers.forEach((user, index) => {
                const listItem = document.createElement('li');
                listItem.className = 'bg-custom_light_blue rounded-lg p-4 mb-4 flex flex-col';

                const userInfo = `
            <div class="flex items-center justify-between mb-2">
                <span class="text-lg font-semibold">${user.name}</span>
                <div class="flex items-center">
                    <span class="text-sm font-semibold ${index === 0 ? 'text-white bg-blue-600' : 'text-gray-700 bg-gray-400'} rounded-full w-8 h-8 flex items-center justify-center">
                        ${index + 1}
                    </span>
                </div>
            </div>
            <div class="flex flex-col">
                <div class="mb-2">
                    <span class="text-sm font-semibold">${exercise.name}:</span>
                    <span class="text-sm">${user[exercise.counter]}</span>
                </div>
            </div>
        `;

                listItem.innerHTML = userInfo;
                list.appendChild(listItem);
            });

            return list;
        }

        function updateExerciseDisplay() {
            // Clear current rankings
            rankingsContainer.innerHTML = '';
            // Get current exercise
            const currentExercise = exercises[currentExerciseIndex];
            // Create new ranking list for the current exercise
            const rankingList = createRankingList(currentExercise);
            rankingsContainer.appendChild(rankingList);
            // Show the current exercise ranking
            rankingList.classList.remove('hidden');
            // Update the title
            exerciseTitle.textContent = currentExercise.name;
        }

        prevButton.addEventListener('click', () => {
            currentExerciseIndex = (currentExerciseIndex - 1 + exercises.length) % exercises.length;
            updateExerciseDisplay();
        });

        nextButton.addEventListener('click', () => {
            currentExerciseIndex = (currentExerciseIndex + 1) % exercises.length;
            updateExerciseDisplay();
        });

        // Initial display
        updateExerciseDisplay();

    </script>
{% endblock %}