{% extends "base.html" %}

{% block title %}
    <title>V-up Crunch Technique</title>
{% endblock %}

{% block content %}
    <div class="container mx-auto p-6">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div class="rounded-lg overflow-hidden shadow-lg">
                <video muted autoplay loop class="w-full h-auto">
                    <source src="../static/images/v_ups/v-up-front.mp4" type="video/mp4">
                </video>
            </div>
            <div class="rounded-lg overflow-hidden shadow-lg">
                <video muted autoplay loop class="w-full h-auto">
                    <source src="../static/images/v_ups/v-up-side.mp4" type="video/mp4">
                </video>
            </div>
        </div>
        <div class="mt-8">
            <a href="https://musclewiki.com/"><h2 class="text-2xl font-semibold mb-4">V-up Crunch Technique:</h2></a>
            <ul class="list-disc pl-4">
                <li class="mb-2">Lie flat on your back on a comfortable, supportive surface, with your arms extended straight above your head and your legs fully extended.</li>
                <li class="mb-2">Engage your core muscles and lift your arms and legs simultaneously, forming a "V" shape with your body. Aim to touch your toes with your hands.</li>
                <li class="mb-2">Keep your legs as straight as possible and avoid bending your knees. Your movement should be controlled and steady.</li>
                <li class="mb-2">Hold the peak position for a moment, then slowly lower your arms and legs back to the starting position, maintaining control throughout the movement.</li>
                <li class="mb-2">Inhale as you lower down and exhale as you lift up during each repetition.</li>
            </ul>
        </div>
        <div class="mt-8">
            <p class="text-lg font-semibold">Position the phone horizontally so that you can be seen in full height. The app will track your repetitions and monitor your form for correct execution.</p>
        </div>
        <div class="mt-8 text-center">
            <p class="text-lg font-semibold">Recommended to perform 20 repetitions</p>
            <a href="{{url_for('main.v_up_crunch')}}" class="bg-custom_light_blue hover:bg-custom_blue mt-4 inline-block text-gray-700 py-2 px-4 rounded px-8">Start</a>
        </div>
    </div>
{% endblock %}
